nav {
  background-color: aliceblue;
  padding: 20px 10px;
  display: flex;
}

.spacer {
  flex: 1;
}

nav a {
  margin-right: 8px;
}

main {
  padding: 0 20px;
}

form {
  display: inline-block;
}

form label {
  display: block;
}

form input {
  display: block;
  margin-bottom: 12px;
}